#content{min-height:600px}
#mobile-wrap{position:relative;overflow:hidden}
.styleguide-section{margin:75px 0}
.styleguide-section 
.fonticon-example span{display:block;margin-bottom:15px}
.styleguide-section 
.fonticon-example span i:before{font-size:30px;vertical-align:middle;margin-right:10px}
.grid-example .row{margin-bottom:15px}
.grid-example .row .block{border:1px solid #dad8d6;padding:10px;text-align:center}
.container-wide{width:1400px;margin:0 auto}
.container-medium{width:1170px;margin:0 auto}

@media screen and (min-width:1400px)
{.container-wide{width:100%;padding:0 15px}}

@media screen and (max-width:1399px){
.container-wide{width:100%;padding:0 15px}}

@media screen and (max-width:768px)
{
.mobile-only{display:block}}
#masthead .logo a{display:block;font-size:52px}
#masthead .logo a:hover{color:inherit}
#masthead .top{padding:20px 0}
#masthead .bottom{border-top:1px solid #dad8d6;border-bottom:1px solid #dad8d6}
#masthead .logo{float:left;margin:0}
#masthead .utility-nav{padding:0;margin:15px 0 0 35px;float:left}
#masthead .utility-nav .top-level{display:inline-block}
#masthead .utility-nav .top-level>a{padding:12px 10px;border:1px solid transparent}
#masthead .utility-nav .top-level:first-child{margin-left:0}
#masthead .utility-nav .top-level.parent{position:relative}
#masthead .utility-nav .top-level.parent.active>a,#masthead .utility-nav .top-level.parent:focus>a{background:#f7f7f7;border:1px solid #dad8d6;border-bottom:none;position:relative;z-index:100}
#masthead .utility-nav .top-level.parent>a:after{font-family:"directbuy-icons";content:'\e610';line-height:1;font-size:9px;margin-left:5px}
#masthead .utility-nav .top-level .dropdown-menu{top:28px;z-index:1}#masthead .messages{float:right;width:45%;text-align:right;margin-top:15px}
#masthead .messages p,#masthead .messages a{display:inline-block;color:#d8262e;margin-bottom:0}
#masthead .messages a{font-weight:700;text-decoration:underline;margin-left:10px}
#masthead a.shop-menu-trigger{float:left;padding:24px 22px 23px 0;border-right:1px solid #dad8d6}
#masthead a.shop-menu-trigger:before{font-family:"directbuy-icons";content:'\e602';line-height:1;font-size:20px;display:inline-block}
#masthead a.shop-menu-trigger span{position:relative;top:-3px;margin-left:10px;font-weight:700}
#masthead .search-field{width:calc(100% - 300px - 185px );float:left;position:relative}
#masthead .search-field input{border:none;padding:25px 1.78571429% 25px 55px;width:100%}
#masthead .search-field input::-webkit-input-placeholder{color:#3e3834}
#masthead .search-field input::-moz-placeholder{color:#3e3834}
#masthead .search-field input:-ms-input-placeholder{color:#3e3834}
#masthead .search-field button{position:absolute;left:10px;padding:24px 10px;top:0;font-size:24px;border:none;background:none}
#masthead .actions{float:right}
#masthead .actions .account-link-trigger{float:left;padding:22px 25px;border-left:1px solid #dad8d6}
#masthead .actions .account-link-trigger:before{font-family:"directbuy-icons";content:'\e60b';line-height:1;font-size:24px}
#masthead .actions .directbuy-rewards{float:left;padding:22px 25px;border-left:1px solid #dad8d6}
#masthead .actions .cart{float:right;border-left:1px solid #dad8d6;padding:22px 10px 22px 22px}
#masthead .actions .cart:before{font-family:"directbuy-icons";content:'\e60c';line-height:1;font-size:24px}
.directbuy-rewards:before{font-family:"directbuy-icons";content:'\e603';line-height:1;font-size:24px;display:inline-block}
.directbuy-rewards .amount,#masthead .actions .cart .amount{color:#fff;display:inline-block;background:#d8262e;-webkit-border-radius:16px;-moz-border-radius:16px;border-radius:16px;font-size:11px;padding:1px 7px;position:relative;top:-6px;margin-left:7px}
.flexbox #masthead .top .container-fluid{display:-webkit-flex;display:-moz-flex;display:-ms-flexbox;display:-ms-flex;display:flex}
.flexbox #masthead .messages{width:40%;margin-top:0;display:-webkit-flex;display:-moz-flex;display:-ms-flexbox;display:-ms-flex;display:flex;-webkit-flex:1;-moz-flex:1;-ms-flex:1;flex:1;-webkit-align-items:center;-moz-align-items:center;-ms-align-items:center;align-items:center;-webkit-justify-content:flex-end;-moz-justify-content:flex-end;-ms-justify-content:flex-end;justify-content:flex-end}
@media screen and (min-width:1400px){.shop-menu-trigger{display:none}
#masthead .search-field{width:70%}
#masthead .bottom .container-fluid{padding:0}}
@media screen and (max-width:768px){#masthead .search-field{width:calc(100% - 70px - 102px )}
#masthead .logo a{font-size:42px}#masthead .messages{width:60%;margin-top:0;font-size:12px}
#masthead .utility-nav{display:none}
#masthead .actions .account-link-trigger,
#masthead .actions .directbuy-rewards{display:none}
#masthead a.shop-menu-trigger{padding:23px;width:auto}
#masthead a.shop-menu-trigger span{display:none}
#masthead .bottom .container-fluid{padding-left:0;padding-right:0}}
.global-menu{width:300px}.global-menu .title{text-transform:uppercase;font-size:14px;font-weight:300;margin:0;padding:15px 6.66666667%}
.global-menu .menu{border-bottom:1px solid #dad8d6;padding:15px 0}
.global-menu .menu li a{display:block;padding:15px 6.66666667%;font-weight:700;position:relative}
.global-menu .menu li.parent.active>.submenu{visibility:visible;opacity:1;filter:alpha(opacity=100)}
.global-menu .menu .submenu{visibility:hidden;opacity:0;filter:alpha(opacity=0);-webkit-transition:opacity .25s ease;-o-transition:opacity .25s ease;transition:opacity .25s ease;position:absolute;top:0;left:100%;background:#fff;width:100%;-webkit-box-shadow:6px 0 10px 0 rgba(0,0,0,0.3);box-shadow:6px 0 10px 0 rgba(0,0,0,0.3);padding-top:50px}
.global-menu .menu .submenu li a{padding:15px 6.66666667%}
.global-menu .menu li.level0.active>a:after{right:0;top:12px;border-color:transparent #f7f7f7 transparent transparent;border-style:solid;border-width:14px 14px 14px 14px;content:"";display:block;position:absolute}
.global-menu .menu li.level1.active>a:after{right:0;top:12px;border-color:transparent #e4e4e4 transparent transparent;border-style:solid;border-width:14px 14px 14px 14px;content:"";display:block;position:absolute}
.global-menu .menu ul.level1{background:#f7f7f7}
.global-menu .menu ul.level2{background:#e4e4e4}.global-menu ul{padding:0;margin:0;list-style:none}
.global-menu.attached{display:block;float:left;background:#3e3834;position:relative}
.global-menu.attached h4,.global-menu.attached a{color:#fff}
.global-menu.attached a:hover{color:#d8262e}
.global-menu.attached .submenu{z-index:1000}.global-menu.attached ul.level1{background:#57524f}.global-menu.attached ul.level2{background:#65625f}
.global-menu.attached li.level0.active>a:after{border-color:transparent #57524f transparent transparent;border-style:solid;border-width:14px 14px 14px 14px;content:"";display:block;position:absolute}
.global-menu.attached li.level1.active>a:after{border-color:transparent #65625f transparent transparent;border-style:solid;border-width:14px 14px 14px 14px;content:"";display:block;position:absolute}
.global-menu .top-close{display:none;text-align:right;border-bottom:1px solid #dad8d6}
.global-menu .top-close:before,.global-menu .top-close:after{content:" ";display:table}
.global-menu .top-close:after{clear:both}
.global-menu .top-close .back-link{float:left;display:none}
.global-menu .top-close .close-trigger{float:right}
.global-menu .top-close a{color:#d8262e;text-decoration:underline;padding:15px 6.66666667%}
.global-menu .block{border-bottom:1px solid #dad8d6;padding:15px 0}
.global-menu .bottom{margin-top:30px;padding:15px 6.66666667%}
.global-menu .bottom .livechat{width:auto;margin:0 auto}
#shop-menu.mobile{width:300px;overflow:hidden;-webkit-overflow-scrolling:touch}
#shop-menu.mobile .inner{position:relative}#shop-menu.mobile .block{padding:15px}
#shop-menu.mobile .block .title{padding:0;margin-bottom:10px}
#shop-menu.mobile .my-account{padding:0}
#shop-menu.mobile .my-account .account-type{display:block;padding:15px 6.66666667%}
#shop-menu.mobile .submenu{background:#fff;padding-top:0;display:block;left:auto;visibility:hidden;border:none;opacity:0;filter:alpha(opacity=0);-webkit-box-shadow:none;box-shadow:none;-webkit-transform:translate3d(100%, 0, 0);transform:translate3d(100%, 0, 0);-webkit-transition:all .5s ease;-o-transition:all .5s ease;transition:all .5s ease}
#shop-menu.mobile .submenu.show{opacity:1;filter:alpha(opacity=100);visibility:visible;z-index:1000;-webkit-transform:translate3d(0, 0, 0);transform:translate3d(0, 0, 0)}
#shop-menu.mobile .breadcrumbs{display:none}
#shop-menu.mobile .breadcrumbs a{padding:15px 6.66666667%;display:block;border-bottom:1px solid #dad8d6}
#account-menu{top:0;position:absolute;background:#fff;-webkit-box-shadow:-6px 0 10px 0 rgba(0,0,0,0.3);box-shadow:-6px 0 10px 0 rgba(0,0,0,0.3);-webkit-transform:translate3d(110vw, 0, 0);transform:translate3d(110vw, 0, 0);-webkit-transition:all .5s ease;-o-transition:all .5s ease;transition:all .5s ease;z-index:1000}
#account-menu .top-close{display:block}
#account-menu.opened{-webkit-transform:translate3d(calc(100vw - 600px), 0, 0);transform:translate3d(calc(100vw - 600px), 0, 0)}
.page-shadow{position:absolute;top:0;left:0;bottom:0;right:0;z-index:900;background:rgba(0,0,0,0.25);-webkit-transition:background .5s ease;-o-transition:background .5s ease;transition:background .5s ease}

@media screen and (min-width:1400px)
{
#mobile-wrap{float:left;width:calc(100% - 300px)}
#shop-menu .block{border-bottom:1px solid #282522}
#shop-menu .block h4{color:#fff}
#shop-menu .bottom .livechat{background:#fff;color:#3e3834;border:2px solid #fff}
#shop-menu .bottom .livechat:hover{background:none;color:#fff}
}
@media screen and (max-width:1399px)
{
.global-menu{top:0;position:absolute;background:#fff;z-index:1000;width:21.42857143%}
.global-menu .top-close{display:block}
#account-menu.opened{-webkit-transform:translate3d(calc(100vw - 100%), 0, 0);transform:translate3d(calc(100vw - 100%), 0, 0)}
#shop-menu{-webkit-box-shadow:6px 0 10px 0 rgba(0,0,0,0.3);box-shadow:6px 0 10px 0 rgba(0,0,0,0.3);-webkit-transition:all .5s ease;-o-transition:all .5s ease;transition:all .5s ease;-webkit-transform:translate3d(-110%, 0, 0);transform:translate3d(-110%, 0, 0)}
#shop-menu.opened{-webkit-transform:translate3d(0, 0, 0);transform:translate3d(0, 0, 0)}
}
@media screen and (max-width:768px)
{
#account-menu{display:none !important}
}
#footer{margin-top:50px;padding-top:75px;border-top:1px solid #dad8d6}
#footer .block ul{padding:0;margin:0}
#footer .block ul li{list-style:none;margin-bottom:10px}
#footer .bottom{margin-top:75px}
#footer .bottom address{display:inline-block}
#footer .bottom ul{padding:0;display:inline-block;margin-left:2.85714286%}
#footer .bottom ul li{display:inline-block}
#footer .bottom ul li a{text-decoration:underline}
#footer .bottom ul li:before{content:'|';margin:0 5px}
#footer .bottom ul li:first-child:before{display:none}#footer li a{color:#3e3834;text-decoration:none}
#footer li a:hover{color:#d8262e;text-decoration:underline}
#footer .livechat,.global-menu .bottom .livechat{display:block;padding:12px}
#footer .livechat span,.global-menu .bottom .livechat span{position:relative;top:-4px}
#footer .livechat:before,.global-menu .bottom .livechat:before{font-size:22px;margin-right:10px;display:inline-block}
#footer .livechat:hover,.global-menu .bottom .livechat:hover{text-decoration:none}
#footer h4{margin-top:0;font-size:18px;margin-bottom:22px}
#footer .social ul{margin-top:30px;text-align:center;font-size:0}
#footer .social li{margin:0 0 0 4.34782609%;display:inline-block}
#footer .social li:first-child{margin-left:0}
#footer .social li a:hover{text-decoration:none}
#footer .social li a:before{font-size:33px}
#footer .social li span{display:none}

@media screen and (max-width:1120px)
{
#footer .social{clear:both;width:100% !important;padding:0 5.20833333%;text-align:center;margin-top:50px;border-bottom:none !important}
#footer .social .livechat{display:inline-block;width:200px}
}
@media screen and (min-width:769px) and (max-width:1120px){#footer .row{width:71.42857143%;margin:0 auto}
#footer .col-sm-3{width:33.3333%}
#footer .social ul{display:inline;margin-top:0;position:relative;top:5px;margin-left:25px}
#footer .social ul li{margin-bottom:0;margin-left:10px}
}
@media screen and (max-width:768px){#footer .row{margin:0}
#footer.container-wide{padding:0}#footer .block{border-bottom:1px solid #dad8d6;width:100%}
#footer .block h4{margin:0;padding:20px 0;cursor:pointer;position:relative}
#footer .block h4:after{font-family:"directbuy-icons";content:'\e60f';line-height:1;position:absolute;right:0}
#footer .block h4.collapsed:after{font-family:"directbuy-icons";content:'\e601';line-height:1;position:absolute;right:0}
#footer .block h4.social{border-bottom:none}
#footer .bottom{padding:0 5.20833333%}
#footer .bottom address,#footer .bottom ul{display:block;text-align:center}}

/*--29-10-2015--*/
.marketing-bg{ background-color:#dad8d6;}
.padding-tb-30{padding-top: 30px; padding-bottom: 30px;}
.summary-bg{background-color:#f7f7f7; border-top:1px solid #dad8d6; border-bottom:1px solid #dad8d6; padding:10px 14px;}
.nav-tabs > li.active{border-bottom: 1px solid #fff;}
.nav-tabs > li.active a{color: #d8262e;}

/*--error color*/
.error{color:red;}

.phoneagree{
     text-decoration: underline;
}

.Footer {
  margin: 5px auto 0;
  border-top: 0px solid #dedede;
  padding: 10px 0 20px;
}
@media (min-width: 850px) {
  .Footer {
    border-color: #000204; 
    max-width: 964px;
  }
}
.Footer a {
  color: inherit;
  text-decoration: none;
}
.Footer .menu {
  list-style: none;
  text-align: center;
}
.Footer .menu .LinkButton, .Footer .menu .RTF input[type=button], .RTF .Footer .menu input[type=button],
.Footer .menu .RTF input[type=submit],
.RTF .Footer .menu input[type=submit],
.Footer .menu .RTF button,
.RTF .Footer .menu button, .Footer .menu .RTF .LinkButtonLong, .RTF .Footer .menu .LinkButtonLong {
  padding: 11px 15px;
}
.Footer .menu .zip {
  padding: 0;
  overflow: hidden;
  border-radius: 2px;
  white-space: nowrap;
  font-size: 0;
}
.Footer .menu .zip .textbox {
  display: inline-block;
  vertical-align: middle;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 0;
  width: 85.22727%;
  padding: 5px 0 5px 16px;
  outline: 0;
  font-size: 14px;
  color: #333;
}
.Footer .menu .zip .textbox::-webkit-input-placeholder {
  color: #7f7e7e;
}
.Footer .menu .zip .textbox:-moz-placeholder {
  color: #7f7e7e;
}
.Footer .menu .zip .textbox::-moz-placeholder {
  color: #7f7e7e;
}
.Footer .menu .zip .textbox:-ms-input-placeholder {
  color: #7f7e7e;
}
.Footer .menu .zip .textbox.placeholder {
  color: #7f7e7e;
}
.Footer .menu .zip .submit {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  height: 30px;
  width: 14.77273%;
  outline: 0;
}
.Footer .menu .zip .submit:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 8px;
  width: 0;
  height: 0;
  margin: -6px 0 0;
  border-left: 5px solid #7f7e7e;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
}
@media (max-width: 849px) {
  .Footer .menu {
    padding: 0 9.375% 25px;
    font-size: 14px;
    line-height: 18px;
    color: #303030;
  }
  .Footer .menu li {
    padding: 5px;
  }
  .Footer .menu .desc {
    display: none;
    padding: 0 0 10px;
  }
  .Footer .menu .find .desc {
    display: block;
  }
  .Footer .menu .zip {
    background: #fff;
    border: 1px solid #cbcbcb;
  }
  .Footer .menu .zip .textbox {
    background: #fff;
  }
}
@media (min-width: 850px) {
  .Footer .menu {
    padding: 0 0 25px;
    white-space: nowrap;
    font-weight: 300;
    font-size: 13px;
    line-height: 18px;
  }
  .Footer .menu li {
    display: inline-block;
    vertical-align: bottom;
    width: 25%;
    white-space: normal;
  }
  .Footer .menu p {
    max-width: 160px;
    margin: 0 auto;
    padding: 0 0 10px;
  }
  .Footer .menu .LinkButton, .Footer .menu .RTF input[type=button], .RTF .Footer .menu input[type=button],
  .Footer .menu .RTF input[type=submit],
  .RTF .Footer .menu input[type=submit],
  .Footer .menu .RTF button,
  .RTF .Footer .menu button, .Footer .menu .RTF .LinkButtonLong, .RTF .Footer .menu .LinkButtonLong {
    max-width: 176px;
  }
  .Footer .menu .zip {
    padding: 7px 0;
    max-width: 176px;
    background: #dedcdc;
  }
  .Footer .menu .zip .textbox {
    width: 85.22727%;
    padding: 5px 0 5px 16px;
    background: #dedcdc;
  }
  .Footer .menu .zip .submit {
    width: 14.77273%;
  }
}
.Footer .social {
  padding: 0 10px 20px;
  list-style: none;
  text-align: center;
}
.Footer .social li {
  display: inline-block;
  margin: 0 9px;
}
.Footer .social img {
  display: block;
  width: 35px;
  height: 35px;
}
.Footer .final {
  list-style: none;
  padding: 0 10px 20px;
  font-family: "Gotham SSm A", "Gotham SSm B", sans-serif;
  font-weight: 300;
  font-size: 10px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
}
@media (max-width: 849px) {
  .Footer .final li {
    display: block;
  }
  .Footer .final .link {
    display: inline;
  }
  .Footer .final .link:before {
    content: " | ";
    margin: 0 8px;
  }
  .Footer .final .link:first-child:before {
    content: "";
    margin: 0;
  }
}
@media (min-width: 850px) {
  .Footer .final li {
    display: inline;
  }
  .Footer .final li:before {
    content: " | ";
    margin: 0 10px;
  }
  .Footer .final li:first-child:before {
    content: "";
    margin: 0;
  }
}


.LinkButton, .RTF input[type=button],
.RTF input[type=submit],
.RTF button, .RTF .LinkButtonLong {
  position: relative;
  display: block;
  margin: 0 auto;
  padding: 6px 15px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #6a6a6a;
  border-radius: 2px;
  font-size: 12px;
  line-height: 22px;
  color: #fff !important;
  text-decoration: none;
}
.LinkButton:after, .RTF input[type=button]:after,
.RTF input[type=submit]:after,
.RTF button:after, .RTF .LinkButtonLong:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 8px;
  margin: -5px 0 0;
  width: 0;
  height: 0;
  border-left: 5px solid #939393;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
}
.LinkButton.white, .RTF input.white[type=button],
.RTF input.white[type=submit],
.RTF button.white, .RTF .white.LinkButtonLong {
  background: #fff;
  color: #666;
}
.LinkButton.white:after, .RTF input.white[type=button]:after,
.RTF input.white[type=submit]:after,
.RTF button.white:after, .RTF .white.LinkButtonLong:after {
  border-left: 5px solid #666;
}
.LinkButton.red, .RTF input.red[type=button],
.RTF input.red[type=submit],
.RTF button.red, .RTF .red.LinkButtonLong {
  background: #d8262e;
}
.LinkButton.red:after, .RTF input.red[type=button]:after,
.RTF input.red[type=submit]:after,
.RTF button.red:after, .RTF .red.LinkButtonLong:after {
  border-left: 5px solid #e95d64;
}
.LinkButton.isLoading, .RTF input.isLoading[type=button],
.RTF input.isLoading[type=submit],
.RTF button.isLoading, .RTF .isLoading.LinkButtonLong {
  overflow: hidden;
  background: #6a6a6a url(../img/loader/linkButton.gif) no-repeat center center;
}
.LinkButton.isLoading span, .RTF input.isLoading[type=button] span,
.RTF input.isLoading[type=submit] span,
.RTF button.isLoading span, .RTF .isLoading.LinkButtonLong span {
  visibility: hidden;
}
.LinkButton.isHidden, .RTF input.isHidden[type=button],
.RTF input.isHidden[type=submit],
.RTF button.isHidden, .RTF .isHidden.LinkButtonLong {
  display: none !important;
}